<h1><%= title %></h1>

<% if (messages && messages.notice) { %>
  <p class="notice"><%= messages.notice %></p>
<% } %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/account/login" method="POST">

  <!-- Email -->
  <label for="accountEmail">Email</label>
  <input
    type="email"
    id="accountEmail"
    name="account_email"
    required
    placeholder="Enter your email"
    value="<%= locals.account_email %>"
  >

  <!-- Password -->
  <label for="accountPassword">Password</label>
  <input
    type="password"
    id="accountPassword"
    name="account_password"
    required
  >

  <button type="submit">Login</button>

</form> 