<section class="hero">
    <h1>Welocme to CSE Motors!</h1>

    <div class="hero-content">
        <div class="hero-text">
            <h2>DCM Delorean</h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <a href="#" class="btn">Own Today</a>
        </div>

        <div class="hero-image">
            <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean car"> 
        </div>
    </div>
</section>

<section class="details">
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-grid">
            <div>
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <p>Flux Capacitor</p>
            </div>
            <div>
                <img src="/images/upgrades/flame.jpg" alt="Flames Decala">
                <p>Flame Decals</p>
            </div>

            <div>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <p>Bumper Stickers</p>
            </div>

            <div>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <p>Hub Caps</p>
            </div>
        </div>
    </div>

    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time".(4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeing McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</section>