<div class="entry-page">
  <div class="entry-overlay">
    <!-- HERO SECTION -->
<h1 class="welcome">Welcome to CSE Motors</h1>
    <section class="hero">
      <img src="/images/vehicles/delorean.jpg" alt="CSE Motors featured vehicle">
      <div class="hero-details">
        <h2>DMC Delorean</h2>
        <ul>
          <li>3 Cup winners</li>
          <li>Superman doors</li>
          <li>Fuzzy dice</li>
          <li>Own Today</li>
        </ul>
        <a href="                            
      </div>
    </section>
    <!-- REVIEWS SECTION -->
    <section class="reviews">
      <h3>DMC Delorean Reviews</h3>
      <ul>
        <li>“So fast its like traveling in time”(4/5)</li>
        <li>“Coolest ride on the road”(4/5)</li>
        <li>“I'm feelikg McFly”(5/5)</li>
        <li>“The most fururistic ride of our day.”(5/5)</li>
        <li>“800's livin and I love it”(4.5/5)</li>
      </ul>
    </section>
    <!-- UPGRADES SECTION -->
    <section class="upgrades-section">
      <h3>Delorean Upgrades</h3>
      <div class="upgrades">
        <div class="upgrade-card">
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          <p>Flux Capacitor</p>
        </div>
        <div class="upgrade-card">
          <img src="/images/upgrades/flame.jpg" alt="Flame">
          <p>Interior</p>
        </div>
        <div class="upgrade-card">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
          <p>Exterior</p>
        </div>
        <div class="upgrade-card">
          <img src="/images/upgrades/hub-cap.png" alt="Hub Cap">
          <p>Exterior</p>
        </div>
      </div>
    </section>
  </div>
</div>