/******* Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ==== Base Style ==== */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;

  
  background-image: url("/images\site\small_check.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  #wrapper {
  width: 90%;
  max-width: 1200px;   
  margin: 40px auto;   
  background-color: #fff; 
  padding: 2rem;

  
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}


main {
  padding: 1rem;
}
/* ===== Header & Navigation ===== */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  background-color: #000000 !important;
  width: 100%;
  min-height: 50px;
  display: block;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}
nav li {
  flex: 1;
  text-align: center;
}
nav a {
  color: #ffffff !important;
  background-color: #000000;
  text-decoration: none;
  padding: 1.5rem;
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
}
nav ul li a:hover, nav ul li a:focus {
  background-color: #1aa3b0 !important;
  color: #000000 !important;
}
/* ===Hero Section ==== */
.hero {
  margin-bottom: 2rem;
}
.hero-content {
  position: relative;
  background: rgba 255, 255, 255, 0.75;
}
.hero-text {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
 
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
}
.hero-image img {
  width: 100%;
  height: auto;
  display: block;
}
/* ===== Button ==== */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #004d55;
  color: #ffffff !important;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
  border: 1px solid #333;
}
/* ===== Upgrades ===== */
.upgrade-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.upgrade-grid > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upgrade-grid img {
  width: 100%;
  height: auto;
  max-width: 120px;
  padding: 10px;
  margin: 0 auto;
  background-color: #9eeaf0;
  border: 1px solid #333;
}
.upgrade-grid p{
  margin-top: 5px;
  font-size: 0.9rem;
  color: #003366;
  text-decoration: none;
  padding: 0;
  font-weight: bold;
}
/* ===== Reviews ==== */
.reviews ul {
  padding-left: 1.5rem;
}

/* ===Footer ==== */
footer {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

/* ==== Large Screen ==== */
@media screen and (min-width:768px) {
  .details {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
  }
  .upgrades {
    order: 1;
    flex: 1;
  }
 .reviews {
    flex: 1;
    order: 2;
  }
}